.warpper {
  background-color: aquamarine;
  width: 340px;
  height: 1000px;
}

.container-card-form {
  display: flex;
  flex-direction: column;
}

.background-small {
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
  width: 100%;
  height: 250px;
}

.background-big {
  background-color: green;
  width: 100%;
  height: 250px;
}
